[2015-09-09 16:23] gkellogg opened #1 "Create HTML versions of test suite READMEs."
This should at least contain the body of the current READMEs, but could be more of an HTML+RDFa view of the test manifest, for example, as used here: http://w3c.github.io/csvw/tests/.

[2015-09-09 18:06] csarven opened #2 "Add RDFa syntax tests"

[2015-09-09 21:17] #1 closed

[2015-09-09 21:20] gkellogg commented on #2
@csarven, the RDFa tests live at https://github.com/rdfa/rdfa-website/tree/master/tests, and online at http://rdfa.info/test-suite/. Do you think they need to be moved here?

[2015-09-09 21:22] gkellogg opened #3 "Fix implementation reports"
They use an un-frozen respec version, which is broken.

[2015-09-09 21:23] csarven commented on #2
No, not particularly. I was under the impression that all tests would be handled here from here on end. I have no preference either way in this case. Feel free to close this issue if they will not be moved here.

[2015-09-09 21:25] gkellogg commented on #2
They may need curation, but in particular in the case of RDFa tests, they probably live in the best place. However, a link from the main index page would be useful. For JSON-LD too.

[2015-09-09 21:39] #3 closed

[2015-09-09 22:01] #2 closed

[2015-09-09 22:12] gkellogg opened #6 "Add Turtle, TriG, RDF/XML and SPARQL tests to better validate relative IRI resolution"
This was suggested by @RubenVerborgh and discussed on [public-rdf-comments](https://lists.w3.org/Archives/Public/public-rdf-comments/2015Aug/0000.html). The [gist](https://gist.github.com/RubenVerborgh/39f0e8d63e33e435371a) has been updated to include evaluation tests for Turtle, JSON-LD, and RDF/XML, which can readily be translated for TriG and SPARQL.

[2015-09-09 22:13] RubenVerborgh commented on #6
Thanks @gkellogg, feel free to assign this issue to me.

[2015-09-09 22:20] gkellogg opened #7 "Curate CWM/SWAP tests"
@timbl suggested curating the [CWM/SWAP Test Suite](https://github.com/linkeddata/swap) in https://lists.w3.org/Archives/Public/semantic-web/2015Sep/0019.html. It is currently on [GitHub](https://github.com/linkeddata/swap), but looks like it would need some work to conform to the manifest structure used by RDF and SPARQL tests.

[2015-09-09 23:06] gkellogg commented on #6
I don't have the permission to add you quite yet (which is a bit odd). Once you're added, you should be able to assign yourself. Thanks!

BTW, I think I own you a response relating to `urn:ex:s276`, which I haven't looked into.

[2015-09-10 20:40] ericprud opened #8 "invalid character in localName_with_assigned_nfc_PN_CHARS_BASE_character_boundaries.ttl"
the \UE01EF in http://www.w3.org/2013/TurtleTests/localName_with_assigned_nfc_PN_CHARS_BASE_character_boundaries.ttl is out of the range of the range of ucschar, c.f. <http://www.w3.org/mid/20150719141712.GA9165@w3.org>

[2015-09-10 20:42] ericprud opened #9 "missing prefixes in two negative syntax tests"
http://www.w3.org/2013/TurtleTests/turtle-syntax-bad-missing-ns-dot-start.ttl
  http://www.w3.org/2013/TurtleTests/turtle-syntax-bad-missing-ns-dot-end.ttl

If the implementation doesn't fail on the intended error, it will fail on the missing prefix., c.f. http://www.w3.org/mid/20150719141712.GA9165@w3.org

[2015-09-10 20:44] ericprud opened #10 "rename negative syntax tests to .err."
http://www.w3.org/2013/TurtleTests/turtle-syntax-bad-*.ttl

They aren't really turtle files, which becomes clear when you try to look at them in a browser which cares about that stuff, c.f. <http://www.w3.org/mid/20150719141712.GA9165@w3.org>

[2015-10-10 17:04] gkellogg commented on #7
These tests could be used for a Notation-3 test suite, but can also be useful for creating more extensive tests for other serializations or SPARQL.

[2015-10-10 17:45] afs commented on #10
Alternative: keep the naming (for systems that depend on file extension to pick the parser) and use web server configuration to serve them as plain/text.

At the very least ".err" is bland (error of what?) - suggestion: ".ttl-err" or no extension or ".txt".

[2015-10-10 18:02] dydra commented on #10
is their purpose not to test the control/data flow in an implementation when it is presented with a file which purports to be turtle but is not?
in which case both the name and the served media type should be "as if".

[2015-10-10 19:40] ansell commented on #10
I agree with @dydra, their purpose is to see what happens when a file is self-identified as Turtle and it is attempted to be parsed by a Turtle parser, but it has errors. The test manifest clearly identifies the files as invalid syntax/semantics and that should be enough.

If the file extensions are changed, it may not make a difference to most test harnesses where the use of a Turtle parser imple

[2015-10-10 22:07] gkellogg commented on #10
I agree that the extension should remain .ttl. Note that using gh-pages, we have no control over mime-time, but it correctly uses text/turtle for .ttl files. The tests already have "-bad-" in them, so it's easy to tell visually which ones are expected to be invalid Turtle (same for other formats). Perhaps @ericprud can give some background for this.

[2015-10-15 07:54] lisp opened #11 "rewrite the static service tests to use a functioning location"
the service tests are written in terms of non-existent service locations. for example [service01.rq](https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/service/service01.rq) is

  SELECT ?s ?o1 ?o2
  {
    ?s ?p1 ?o1 .
    SERVICE <http://example.org/sparql> {
      ?s ?p2 ?o2
    }
  }

for these static tests, replace the location with that of a functioning "service".
this shou

[2015-10-15 08:00] lisp opened #12 "qualify service5 with a feature for variable service locations"
as the semantics for variable service locations is not well defined, it is not appropriate to require its unqualified implementation in order to demonstrate performance.
either add a distinct feature for their support or define an alternative to `sd:BasicFederatedQuery` to indicate the extended implementation.

[2015-10-16 21:02] afs commented on #11
(The working group faced this challenge)

We, this community, can't provide that functioning service endpoint -- even if donated now, will it be operational next year or in 5 years, or longer time?  And maintained at a 24x7 availability?  From running sparql.org, I can say that providing adequate service without non-zero cost is depressingly difficult.  Bad things happen all the time.

W3C were no

[2015-10-16 21:29] gkellogg commented on #11
(Chair hat off).

I think that for most purposes, using an additional file in the test suite repo which serves static results when accessed as a service endpoint will do much of what is requested. If the need is to validate that a processor properly composes an HTTP request to access the federated service endpoint, we'd need to rely on descriptions of expected HTTP headers which an implementor cou

[2015-10-17 09:24] afs commented on #12
The tests should be labelled in the manifest); IIRC that was going to be done but seems to have not happened.  The "labelling the manifest" approach is used elsewhere in the tests.  A separate issue is whether endpoints that have a query processor that has this feature.  Modifications to the service description vocabulary are out side testing. Maybe send a comment to the comments list for any futu

[2015-10-17 12:59] lisp commented on #12
there is a label in the manifest, but it is the same as for a test with a constant location.
if we need to extend the service description in order to adequately describe tests, do we have to start our own vocabulary?

[2015-10-18 10:50] ericprud commented on #11
On Oct 16, 2015 11:30 PM, "Gregg Kellogg" <notifications@github.com> wrote:

suite repo which serves static results when accessed as a service endpoint
will do much of what is requested. If the need is to validate that a
processor properly composes an HTTP request to access the federated service
endpoint, we'd need to rely on descriptions of expected HTTP headers which
an implementor could use to

[2015-10-18 11:54] lisp commented on #11
at this point in sparql's life cycle, one goal should be to test interoperability.
which requires that endpoints be (made) known for conforming implementations.
in which case, if nothing else, the reflexive requests should locate a functioning service..

[2015-10-18 17:14] afs commented on #11
The server target of SERVICE does not need to provide federated query itself for a test of (local query execution) SERVICE functionality.

We should not require "conforming implementation" to provide a public endpoint. It is not a separation of responsibilities of code writing and code operation. It implies an implementation team can actually put up and sustain a public endpoint.

[2015-10-18 18:50] lisp commented on #11
yes, the client and server side if that relation are distinct, yet if sparql as a standard expects to claim that federation serves any purpose, it will have to demonstrate that it works. the current tests do not accomplish this.

a short look at the state of the protocol test does not convince, that that would make a better home.

[2015-10-19 01:32] gkellogg commented on #12
It may be that forward-compatible updates the the test vocabularies are in-bounds, it needs checking with the powers-that-be. @ericprud, can you comment?

Of course, another alternative would be to simply define required vocabulary terms directly in the test manifest itself.

[2015-10-19 01:35] gkellogg commented on #11
If people would like to have a conference call to discuss such issues, I'm sure we can get time on the W3C WebEx account and use our #rdf-tests IRC channel for a meeting. Let me know, and I'll send out a Doodle for those interested.

[2015-10-19 15:52] gkellogg commented on #6
See PR #13 for Turtle and TriG tests.

[2015-10-19 15:56] RubenVerborgh commented on #6
About RDF/XML, I wasn't sure where to put those. The RDF/XML tests have a pretty specific structure.

[2015-10-19 16:07] gkellogg commented on #6
I've created [RDF/XML versions of these tests](https://github.com/ruby-rdf/rdf-rdfxml/blob/develop/spec/reader_spec.rb#L370-L742) for my own use, which can be added to the RDF/XML test suite (I also have [JSON-LD tests](https://github.com/ruby-rdf/json-ld/blob/develop/spec/reader_spec.rb#L129-L521)). If you don't get to it, @RubenVerborgh, I'll handle it later this week.

SPARQL's another matter.

[2015-10-19 16:09] RubenVerborgh commented on #6
Only thing that held me back on RDF/XML is the [weird folder structure](https://github.com/w3c/rdf-tests/tree/gh-pages/rdf-xml); wasn't sure where to put things. So I'd leave it up to you if that's okay.

[2015-10-19 16:23] gkellogg commented on #6
Also [RDFa tests](https://github.com/ruby-rdf/rdf-rdfa/blob/develop/spec/reader_spec.rb#L1784-L2155).

[2015-10-19 19:21] gkellogg commented on #6
I added RDF/XML tests to PR #13.

[2015-10-20 11:58] afs commented on #6
I was pointed at the following text in RFC 3987 5.3.2.4.  Path Segment Normalization

says dot-segments are only for the beginning of a relative IRIs.  But is it a prohibition for use elsewhere?

RFC 3986: section 3.3 Paths

...

Also RFC 3986: section 1.2.3 Hierarchical Identifiers

seems to say dot-segments processing applies to absolute URIs as it is called out specially.

All of which leaves m

[2015-10-20 12:04] RubenVerborgh commented on #6
Not necessarily “beginning” though. The algorithm accounts for `../` not at the beginning.

The problem is with “intended”. What does thatat even mean?

[2015-10-20 21:48] afs commented on #6
The algorithm works more generally and also works for sorting out absolute URIs as well by operating on their path.  My sense is that the case of base URI having `..` was either not given much weight or it was considered to be sorted out as part of making the base URI in the first place . I.e. `..` does not appear.  "intended" == "design space". Most of the ways to determine a base URI and usage l

[2015-10-21 12:56] RubenVerborgh commented on #6
The thing is, RFC3986 says that “Normalization of the base URI, as described in Sections 6.2.2 and 6.2.3, is optional” but the rest of the algorithm seems to silently assume that this normalization has been performed (as there would be no reason not to). That's also what many libraries that perform resolution just assume.

However, the Turtle spec says that we should “[use] only the basic algorith

[2015-10-21 14:57] afs commented on #6
Yes - sorting out the absolute base before even getting to the relative URI resolution seems highly likely. The text leading up to the quote from the Turtle spec makes it clear the text applies to relative IRIs so we're exposed to RFC processing on the base earlier (e.g. at the point of `@base`) so this isn't about the relative URI step.

Absolute URIs have other issues; this is why this came up f

[2015-10-21 15:05] RubenVerborgh commented on #6
In practice, I can't imagine why anyone would like to do that. Just like I hope nobody ever mints other very ugly URIs. In theory, however, it is possible, and the [RDF spec seems to allow for it](http://www.w3.org/TR/rdf11-concepts/#section-IRIs):

- […]
- “/./” or “/../” in the path component of an IRI
- […]

So we should avoid them, but at the same time, the spec acknowledges that they _exist_

[2015-10-21 15:51] gkellogg commented on #11
I have an email out to @ericprud and @philarcher1 to help coordinate this, but it will probably need to wait until after TPAC.

[2015-10-21 19:37] afs commented on #6
Good point. If the spec calls out "/../" (trailing /) which is case where "everything just works", then may be the tests should use that, not "/.." (no trailing /).

[2015-10-21 19:38] RubenVerborgh commented on #6
I think it's safer to test that behavior as well… if `/../` can occur, so can `/..`.

[2015-10-26 16:52] timrdf opened #14 "mf:conformanceRequirement is not defined"
[sparql11/data-sparql11/manifest-all.ttl](https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/manifest-all.ttl#L56) uses the term [mf:conformanceRequirement](http://www.w3.org/2001/sw/DataAccess/tests/test-manifest#conformanceRequirement), but it is not defined at http://www.w3.org/2001/sw/DataAccess/tests/test-manifest#.

[code]

[2015-10-28 13:18] timrdf opened #15 "SPARQL 1.1 entailment RIF qt:data files missing"
In [data-sparql11/entailment/manifest.ttl](https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/entailment/manifest.ttl), although

[:rdfs13's rdfs13.ttl](https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/entailment/manifest.ttl#L571) exists at [entailment/rdfs13.ttl](https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/entailment/rdfs13.ttl),

[2015-10-28 23:03] #15 closed

[2015-10-28 23:04] gkellogg commented on #15
They must not have been in the zip file used to initialize the repo. I found them at http://www.w3.org/2009/sparql/docs/tests/data-sparql11/entailment/, however. Let me know if you find any more missing.

[2015-10-28 23:34] gkellogg commented on #14
See PR #17.

[2015-10-29 13:12] timrdf commented on #15
Thanks, @gkellogg.

I do not see any more missing files for dawgt:approved mf:QueryEvaluationTests.

Regards,
Tim

[2015-10-30 23:42] timrdf opened #18 "SPARQL 1.1's http-rdf-update/manifest.ttl missing"
[manifest-all.ttl L41](https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/manifest-all.ttl#L41) includes [http-rdf-update/manifest.ttl](https://github.com/w3c/rdf-tests/tree/gh-pages/sparql11/data-sparql11/http-rdf-update) but it does not appear in https://github.com/w3c/rdf-tests/tree/gh-pages/sparql11/data-sparql11/http-rdf-update.

[2015-11-01 23:12] kasei opened #19 "Update SPARQL 1.1 test suite to align with changes introduced in RDF 1.1"
RDF semantics surrounding "simple literals" changed the expected result of some tests in the SPARQL 1.1 Query test suite.

[2015-11-02 01:22] #18 closed

[2015-11-02 01:22] #14 closed

[2015-11-02 15:33] kasei opened #20 "Remove non-official tests from SPARQL 1.1 test suite"
Many tests included in the SPARQL 1.1 test suite are either not approved, or were approved and then removed by the WG from the manifest lists. These tests should be removed to avoid confusion for people new to the test suite.

[2015-11-03 00:51] gkellogg opened #22 "Rebuild index files in test directories"
Each group has created its own mechanism for an HTML view of their tests. Rather than trying to apply different strategies for each different test, I propose using something based on what I did for the [CSVW test suite](http://w3c.github.io/csvw/tests/), which generates a JSON-LD version of the test manifest and uses this to build an index.html. A simple script could then rebuild all index files.

[2015-11-04 01:05] gkellogg commented on #6
@RubenVerborgh what's the next step for this? Have we reached consensus on that tests to include and what to do with the .. segments in the base? It would be good to complete this issue.

[2015-11-04 08:53] RubenVerborgh commented on #6
I think this is mostly up to @afs. I could live with removing the `/..` tests, but I'm not convinced this is necessary. However, if this speeds up the issue, we can indeed remove those and commit what we have already (and add the rest later if needed).

[2015-11-04 14:34] afs commented on #6
Focusing on the area where there is no disagreement seems like the way forward.

Is that test sets with no dot-segments in absolute IRIs which are 01, 02, 07 and 08?

[2015-11-05 08:53] RubenVerborgh commented on #6
I think we have a large subset we agree on. I would propose everything except 5 and 6. Would that work?

[2015-11-05 10:22] afs commented on #6
03 and 04 have dot-segments in `@base` URIs and lead to different results.

See the [external feedback](https://lists.w3.org/Archives/Public/public-rdf-tests/2015Oct/0030.html) which quotes RFC3987 that reference resolution is necessary when the reference is already an IRI and [my testing with Redland](https://lists.w3.org/Archives/Public/public-rdf-tests/2015Oct/0031.html).

[2015-11-05 10:29] RubenVerborgh commented on #6
Ah, I thought only trailing dot segments were an issue.

So what do we do with the other cases? We just accept that different parsers have different outcomes there, and thus we don't include them? Or we ask the spec authors what they intended?

[2015-11-05 11:22] afs commented on #6
The case of `<>` makes them different.  `<>` bypasses the dot-segment removal step in relative URI resolution.

One Turtle editor has responded and said that saying they are "absolute IRIs" did mean to him that RFC 3987 applies, and not that absolute IRIs are untouched.

[2015-11-05 12:11] RubenVerborgh commented on #6
Any other opinions on this? Are 01, 02, 07 and 08 the only ones we agree on?

[2015-11-10 14:28] ericprud commented on #10
I am quite convinced by the arguments to use .ttl.

[2015-11-13 20:29] gkellogg commented on #10
Closing without change.

[2015-11-13 20:29] #10 closed

[2015-11-13 22:04] gkellogg commented on #20
Note this caused `rif02` and `rif05` to be removed from the entailment tests, as they were not `dawgt:Approved`.

cc/ @afs

[2015-11-15 10:25] afs commented on #20
A visual scan of the removal commit looks OK.  It initially looked bad to remove tests labelled "approved" but the manifest list makes it clear they were later unapproved by the WG.

[2015-11-16 16:48] kasei commented on #20
@gkellogg – I've also been working on a PR for this issue. Wondering if you think it's important to keep all the non-approved tests commented out in the manifests instead of actually removing them and actually cleaning up the manifests?

https://github.com/kasei/rdf-tests/commits/feature-20

[2015-11-16 17:02] gkellogg commented on #20
@kasei I figured that keeping them commented out was safest, at least for now. In the future, seeing what tests had been there, but were removed may be important, which could be lost if we remove them.

IMO, let's keep them commented out, and consider a bigger cleanup later on.

[2015-11-16 17:09] kasei commented on #20
So not interested in my commits that remove (now-)unused files? e.g. https://github.com/kasei/rdf-tests/commit/ec7d6e55e3260410d05e6a16f238fd768f43c0e6

I'm of the opinion that the git history will capture this stuff just fine, and (if we resolve to keep the two separate) so will the old WG-approved test suite.

[2015-11-16 19:04] gkellogg commented on #20
Good point. @afs, you're opinion?

[2015-11-19 11:55] afs commented on #20
Neutral.

The ideal would be a separate place to document each change with rationale but that's unrealistic extra work.  Finding the output that gets people involved with less burden is also important.

But it comes down to what are we producing?

Case 1: Material for an implementer who wants to run "the tests". Maybe they used to run the original versions, may be not. A clean set is probably bett

[2015-11-19 18:44] gkellogg commented on #20
As @kasei points out, we have the Git commit history which characterizes the changes, and comments and issues which motivate the changes. Also, the core of what will likely form future WGs are at least advised of the changes we're making, so I wouldn't expect them to be that radically different, unless backwards compatibility is thrown out.

My inclination now is to remove commented out tests and

[2015-11-20 11:28] robstewart57 opened #26 "Escaping "." in the localName_with_non_leading_extras turtle parsing test case"
I have a question about "." being escaped in the localName_with_non_leading_extras turtle parser test case. The input ttl file is:

@prefix p: <http://a.example/>.
p:a·̀ͯ‿.⁀ <http://a.example/p> <http://a.example/o> .

In the expected case in the nt file, this subject URI is translated to:

    <http://a.example/a\u00b7\u0300\u036f\u203f\u002e\u2040>
    <http://a.example/p> <http://a.example/o> .

[2015-11-20 11:40] afs commented on #26
There is no requirement for it to be escaped -- see [section 6](http://www.w3.org/TR/n-triples/#n-triples-mediatype) where it says characters outside ASCII must be escaped for use in `text/plain`.

There is no requirement to escape any of the characters - N-Triples is defined using UTF-8 these days. See [section 4](http://www.w3.org/TR/n-triples/#canonical-ntriples) on the canonical form.

[2015-11-20 11:54] robstewart57 commented on #26
Hi @afs ,

So to be clear, on expected RDF graph in-memory, according to https://github.com/w3c/rdf-tests/blob/gh-pages/turtle/localName_with_non_leading_extras.nt in this repository is:

    <http://a.example/a\u00b7\u0300\u036f\u203f\u002e\u2040> <http://a.example/p <http://a.example/o> .

Are you saying that this is an incorrect expected outcome, i.e. the localName_with_non_leading_extras.nt in

[2015-11-20 16:44] afs commented on #26
Are you really asking about passing the test?

Test success is defined by the two graphs from the Turtle parsing and the N-Triples parsing being the same graph.  See [RDF 1.1 Testcases - section 2.2](http://www.w3.org/TR/rdf11-testcases/#evaluation-tests) - the two graphs/datasets are isomorphic to pass the test.

So, logically, parse both files and see if the resulting graphs are isomorphic. That

[2015-12-01 09:27] ericprud opened #27 "coverage assessment"
<p>
Before finishing RDF 1.1 CR, I attempted to understand the coverage of Turtle by looking for particular <a href="https://dvcs.w3.org/hg/rdf/raw-file/6f51ac509ff3/rdf-turtle/coverage/report-atomic-tests.html">patterns in the test suite</a>. (I did the same thing for SPARQL but haven't dug it up yet.)

The process was:
</p>
<ul>
  <li>create a <a href="http://www.w3.org/2005/01/yacker/uploads/tu

[2015-12-07 18:44] gkellogg commented on #20
@kasei, I've been tied up, so haven't gotten around to doing any more cleanup. If you'd like to generate a PR, I can merge it.

[2015-12-07 18:46] kasei commented on #20
@gkellogg sure, I'll try to get it sent off soon.

[2015-12-19 22:26] gkellogg commented on #20
closed via #28.

[2015-12-19 22:26] #20 closed

[2016-01-04 16:57] gkellogg commented on #6
@RubenVerborgh can you drive this to conclusion and simply propose a change where we can ask for objections? I'd like to get these tests integrated so we can move on.

[2016-01-05 08:27] RubenVerborgh commented on #6
Yes, asked for confirmation [on the mailing list](https://lists.w3.org/Archives/Public/public-rdf-tests/2016Jan/0004.html).

[2016-01-05 21:41] #8 closed

[2016-01-07 16:41] gkellogg commented on #6
Turtle and TriG tests completed via PR #30. Still need similar tests for SPARQL and RDF/XML. JSON-LD and RDFa can be done elsewhere.

[2016-01-14 20:09] #26 closed

[2016-01-14 20:22] robstewart57 opened #32 "turtle-syntax-string-07: long string literals with embedded single and double-quotes"
The grammar rules for long string literal quotes at http://www.w3.org/TR/turtle/ are:

    [24] STRING_LITERAL_LONG_SINGLE_QUOTE ::= "'''" (("'" | "''")? ([^'\] | ECHAR | UCHAR))* "'''"
    [25] STRING_LITERAL_LONG_QUOTE ::= '"""' (('"' | '""')? ([^"\] | ECHAR | UCHAR))* '"""'

This says that a sequence of 1 or 2 occurrences of the single quote character ' can appear in text between 3 single quote

[2016-01-14 21:13] robstewart57 commented on #32
Oops my mistake. I overlooked `[^"\]` and `[^'\]`, which permits single quotes inside 3 double quote pairs and double quotes inside 3 single quote pairs. Closing.

[2016-01-14 21:13] #32 closed

[2016-01-15 18:06] #22 closed

[2016-01-22 23:34] robstewart57 opened #34 "How to expand (..) shorthand for the "turtle-syntax-lists-05" test"
The turtle-syntax-lists-05.ttl file contents is:

[code]

I'm not sure exactly what the expanded form of this in NTriples form would be. Here's an attempt:

[code]

Is this correct? If not, where have I misunderstood the `(..)` expansion rules?

[2016-01-23 21:06] robstewart57 commented on #34
@afs has clarified by private correspondence what the result of parsing turtle-syntax-lists-05.ttl should be:

[code]

This is the graph structure produced by parsing the `.ttl` file with Jena's RIOT. I have raised a pull request to add this as an `mf:result` for the "turtle-syntax-lists-05" test case at: https://github.com/w3c/rdf-tests/pull/36 .

[2016-01-23 21:06] #34 closed

[2016-02-01 09:07] lisp opened #39 "add aggregation tests which involve unbound variables"
two tests have been [proposed](https://github.com/kasei/rdf-tests/commit/389617a278b737ef6d61af12dfb94f9175923cc0) to demonstrate permitted aggregation results in the presence of unbound variables.

it would be worthwhile, in addition, to include tests which distinguish results where an implementation suppresses unbound values where permitted.

- one test which fails if the respective sample resul

[2016-02-01 16:37] gkellogg commented on #39
It's probably useful to surface this on public-rdf-tests@w3.org and public-sparql-dev@w3.org, as not everyone interested in this subscribes to the GitHub issues feed.

[2016-02-01 16:39] gkellogg commented on #39
:8ball: As I see has been done: https://lists.w3.org/Archives/Public/p…

[2016-02-01 16:39] gkellogg commented on #39
A PR with proposed tests and results would be welcome.

[2016-02-01 18:10] lisp commented on #39
yes, this is a follow-on to that post (note, something seems broken in the lists url above)

before proposing tests, it would be good to have some degree of consensus concerning the content:

- whould it be appropriate to a feature?
- if so, what it might be named? would it be 'mf' or 'sd'?
-  should it be reflected in the service description?

[2016-03-15 19:36] joernhees commented on #39
just linking this more directly: https://github.com/kasei/rdf-tests/commit/389617a278b737ef6d61af12dfb94f9175923cc0 @kasei

[2016-03-27 17:29] kasei commented on #19
This was resolved by the merge of #21.

[2016-03-27 17:29] #19 closed

[2016-06-11 22:46] lisp opened #40 "sparql11/data-r2/dataset/manifest.ttl presumes graph sparql processor performs retrieval"
the sparql 1.1 dataset specification does not require that any specified graphs be retrieved by the sparql processor, yet the manifest does not include the iri in the respective test dataset definition.

an alternative would be to add a requirement to the original tests to indicate that they require the dataset content to be retrieved and to add sibling tsts which specify the dataset in the manife

[2016-06-12 22:22] lisp opened #41 "add support for operator extensions in data-sparql11/functions/plus-[12](-corrected)?"
these tests exemplify those which verify the argument value domain constraints codified by the recommendation. in this case, the tests' results indicate that the '+' function accepts numbers only.
there should be some means whereby the tests provide for the extensions allowed by 17.6.

in this case, the extension which is motivated by frequently appearing queries is to perform automatic string-to-

[2016-06-12 23:24] gkellogg commented on #39
@lisp, perhaps a conversation referencing this thread, on public-rdf-test@w3.org and public-sparql-dev@w3.org might spur more discussion.

[2016-06-18 22:38] pfps opened #42 "tests to document current definition of EXISTS in SPARQL"
SPARQL EXISTS has lots of problems.  It produces invalid algebraic structures, it hits explicitly undefined situations in the algebra, it produces counterintuitive results, I don't know of any SPARQL implementation that implements it correctly, different implementations of SPARQL implement it differently.

I have added a bunch of tests to document the correct behaviour of EXISTS according to the S

[2016-06-18 23:10] gkellogg commented on #42
Thanks Peter, could you do a PR to pull them into this repo? I'll promote these on public-sparql-dev and rdf-tests for consensus. We should get at least two other implementations to pass them.

[2016-06-18 23:24] pfps commented on #42
OK, https://github.com/w3c/rdf-tests/pull/43

I think that virtuoso is going to have the best coverage and it really only
passes 4 out of 18 tests.  Of course, this just shows the extent of the
problems with the definition of EXISTS.

peter

On 06/18/2016 04:10 PM, Gregg Kellogg wrote:

[2016-06-19 21:11] lisp commented on #42
it may be that the file 'existsBlank01.srq' is intended to be 'existsBlank01.srx'.

[2016-06-19 21:19] pfps commented on #42
Certainly.  I've made the change in my fork.  I think that the pull request
will track that change.

I don't have a test harness, so I haven't verified that everything conforms to
a good test description but I should have caught an incorrect file extension.

peter

On 06/19/2016 02:11 PM, james anderson wrote:

[2016-06-19 23:55] lisp commented on #42
it may be, that existsMinus01.srx is not a properly encoded result set.

[2016-06-20 04:12] gkellogg commented on #42
Peter's changes were also added to the [pfps-sparql-exists](https://github.com/w3c/rdf-tests/tree/pfps-sparql-exists) branch in this repo for convenience. We may end up replacing PR #43 with a new PR based on that branch from this repository.

[2016-06-20 05:23] pfps commented on #42
Six results files were missing result tags. I've fixed them, I think, and
pushed the commit back to github.

peter

On 06/19/2016 04:55 PM, james anderson wrote:

[2016-06-20 07:43] lisp commented on #42
now transcribed to the branch which gregg created and pushed.

[2016-06-21 00:50] kasei commented on #42
@pfps could you provide a bit more explanation of your table of virtuoso results above? I'm confused by "Syntax" vs. "Works", and what it means when Works="Y" but Result="wrong".

[2016-06-21 01:43] pfps commented on #42
On 06/20/2016 05:50 PM, Gregory Todd Williams wrote:

Yeah, I should have put more explanation there.  I just put my internal
recording of what virtuoso did and then the formatting was fiddled with by
whatever github uses.

The four columns are:
- the test file name
- Syntax: whether virtuoso accepts the query as valid SPARQL syntax
- Works: whether virtuoso evaluates the query without throwing an

[2016-06-21 01:46] kasei commented on #42
Thanks. So does "correct" correlate with the tests included in #43 (That is, a "correct" result listed here indicates that the corresponding test passed in the test suite.)?

[2016-06-21 01:57] pfps commented on #42
On 06/20/2016 06:46 PM, Gregory Todd Williams wrote:

Yes, these correlate with the tests in #43.

What counts as a pass is a bit hard to determine.

Any test that has a "correct" or an "admissable" by itself is a pass.

A strict interpretation would be that "no semantic issue reported" is a
failure because SPARQL implementations should complain if, for example, a
solution mapping has "a" where th

[2016-06-21 02:31] kasei commented on #42
OK. With a few bug fixes for applying `substitute` to filter expressions, my implementation passes all but these 4:

* existsScope01 – Not enough manifest data to evaluate this test
* existsBlank01 – I don't intend to support this as I believe the spec text doesn't align with the intention
* existsSubquery06 – I believe this is a result of not conforming to the recently agreed upon errata
* exists

[2016-06-21 02:57] pfps commented on #42
On 06/20/2016 07:31 PM, Gregory Todd Williams wrote:

Not existsScope02?  That's the one where SPARQL says that the result is
explicitly undefined so I don't have a results bit.

Sounds like a good candidate for a community-supported erratum.

Hmm.  I may have messed this one up when I switched the predicate I was using
from :a to :p and didn't carry that through to this test.  I've fixed it.

Whi

[2016-06-21 03:11] kasei commented on #42
explicitly undefined so I don't have a results bit.

Ah. My mistake. I fail both existsScope01 and existsScope02. I mistook the latter for the former, and also had trouble in modifying my test harness to overlook tests in the manifest that don't have an mf:result. I'm not sure I understand your reasoning for having both of these tests (though I haven't dug too deeply into them).

I now pass this t

[2016-06-21 03:24] pfps commented on #42
On 06/20/2016 08:11 PM, Gregory Todd Williams wrote:

One of the problems with EXISTS is that it substitutes everywhere, including
in solution mappings, variables being bound, and variables being reported out
of subqueries.

So the exists in
  SELECT ?x WHERE { ?x :p :b . FILTER EXISTS { BIND ( :j AS ?x ) } }
ends up looking something like (although the substitution is in the SPARQL
algebra, not t

[2016-06-21 03:28] kasei commented on #42
Ah. Understood. Those are good tests to have to flesh out the weirdness in the spec as written, but I think that's another case where I don't believe the spec text accurately represents the intention, so wouldn't be making any changes to my systems to deal with the difference between existsScope01 and existsScope02.

[2016-06-21 03:38] pfps commented on #42
On 06/20/2016 08:28 PM, Gregory Todd Williams wrote:

Another case where a community-backed erratum should be created.

You may believe that the spec is wrong, but others may not.  That's a bad
situation to be in for a W3C recommendation.

peter

[2016-06-21 09:54] lisp commented on #42
in order that these tests be useful, it would help if they were more explicit.

the existing test suite suffers severely from test definitions which do not explain their behaviour, but instead presume that the results are self-evident.
the only recourse an implement has is to follow a link to a discussion thread which may or may not provide an explanation.
in this particular situation, where the i

[2016-06-21 12:26] lisp commented on #42
it is also possible, that this is not a “problem with exists”.
it may be that the anomaly follows from a misinterpretation of the recommendation.

the word “substitute” appears in another place in the recommendation text,  in addition to the passage which concerns exists.
by one reading, the interpretation apparent at that location is not to be reconciled with one which has been suggested for exis

[2016-06-21 13:00] lisp commented on #42
andy seaborne responded to the related thread on  public-rdf-tests@w3.org with a pointer to issue 68 in the shapes working group.
that thread extends over fifty messages.
would it be possible for someone to compose one test which constitutes the one concrete case which led the shapes wg to believe they cannot proceed given their conception of the sparql recommendation?

[2016-06-21 17:11] pfps commented on #42
On 06/21/2016 02:54 AM, james anderson wrote:

I added an analysis.text file that analyzes many of the tests to show just
what is going on.  Most of this was already in my other posts, but this file
has walk-throughs of how SPARQL transforms, substitutes, and evaluates the
tests that are analyzed.

peter

[2016-06-21 17:50] pfps commented on #42
On 06/21/2016 06:00 AM, james anderson wrote:

The W3C Data Shapes Working Group can proceed, even with the current SPARQL
recommendation.  However, the product of the working group, the SHACL shapes
constraint language, heavily depends on SPARQL and in particular EXISTS.

To be viable with the current SPARQL recommendation, the SHACL specification
is going to have to have disclaimers like:

The n

[2016-06-21 17:54] kasei commented on #42
Does that mean SHACL won't work with SPARQL systems that don't also support pre-binding? I don't know anything about SHACL, but that doesn't sound like a good requirement.

[2016-06-21 18:10] pfps commented on #42
On 06/21/2016 10:54 AM, Gregory Todd Williams wrote:

SHACL is (more or less) defined as an extension to SPARQL.  To implement SHACL
you take a SPARQL implementation and add a few functions and also add
pre-binding and then add some control stuff.   You almost certainly need
access to the innards of a SPARQL implementation to implement SHACL.

So it's not the case that the lack of pre-binding is a

[2016-06-21 21:25] lisp commented on #42
thank you.

[2016-06-21 21:29] lisp commented on #42
i read these paragraphs, above, as contradicting each other.

please give a concise concrete example of a query which demonstrates this issue and describe the use case which requires it.

please give a concise concrete example of a query which demonstrates this issue and describe the use case which requires it.

[2016-06-21 23:20] pfps commented on #42
On 06/21/2016 02:29 PM, james anderson wrote:

How so?  It's not going to be a happy solution of course.  SHACL will be only
usable with certain SPARQL implementations, which goes against the W3C goal of
interoperatbility and adherence to recommendations.  However, it does meant
that SHACL could maybe get two interoperating implementations that adhere to
the SHACL recommendation.

I would personal

[2016-06-22 12:31] lisp commented on #42
this could be said to be true, but only if one misunderstands “substitute” in a manner which diverges from that in section two.

[2016-09-21 11:59] robstewart57 opened #44 "Understanding the effect of rdf:resource with xml:base in test xmlbase-test002"
Where should I be looking in the RDF/XML specification to understand
test xmlbase-test002?

The file xmlbase/test002.rdf is:

[code]

And the expected parsed triple (in xmlbase/test002.nt) is:

    _:j0 <http://example.org/value> <http://example.org/dir/relFile> .

Where should I look to understand why xml:base :

http://example.org/dir/file

Is modified when expanded with rdf:resource="relFile" t

[2016-09-21 16:14] gkellogg commented on #44
Relative IRI resolution is pretty common between RDF specs, and the actual algorithm comes from RFC 2396. See [section 5.3](https://www.w3.org/TR/rdf-syntax-grammar/#section-baseURIs), which also references [XML Base](https://www.w3.org/TR/xmlbase/).

This is probably not the best place to ask for general questions on RDF serializations. You might, instead, send questions to semantic-web@w3.org, o

[2016-09-21 16:14] #44 closed

[2017-03-21 20:55] leipert commented on #6
I just stumbled over this issue. I have two questions:
1. The turtle and trig tests have been merged in #30. The tests currently have the  [`rdft:Proposed`](https://github.com/w3c/rdf-tests/blob/76bb318a946595dd7a856f57d6de20fe1cb317fc/turtle/manifest.ttl#L2548) approval status. Is there any resource how this approval process works?
2. What would be the best way to add SPARQL tests for this? CONST

[2017-03-22 23:30] gkellogg commented on #6
@leipert Until a new Working Group is chartered to update RDF and/or SPARQL, there is really no way to move from `rdft:Proposed` to `rdft:Approved`. All the CG can really do is propose new tests to be considered at a future date. But, for all practical purposes, if they have been merged into this repo, the community has had a chance to vet the tests, and they are fairly stable.

There is, of cours

[2017-05-29 17:00] joernhees opened #45 "SPARQL: what is "999"^^xsd:byte > 0 ?"
999 doesn't fit into xsd:byte, which is a signed 8 bit int...

would be nice to have a test for defined behavior of query:
`SELECT ( "999"^^<http://www.w3.org/2001/XMLSchema#byte> > 0 AS ?result ) {}`

results in the wild:
- jena: undef
- rdflib, stardog: true
- virtuoso: 0 ("0"^^xsd:int)

also see https://github.com/RDFLib/rdflib/issues/737

[2017-06-01 19:43] afs commented on #45
@joernhees - please do generate a pull request.

[2017-06-01 21:00] lisp commented on #45
in which case are not both the stardog and the rdflib results conformant?

[2017-06-01 22:52] joernhees commented on #45
to be honest: i'm neither entirely sure which result i'd actually expect, nor what kind of test this is (syntax / eval?).

And should one argue that while `"999"^^xsd:byte` isn't "valid", it's certainly `>`/`!=` `0`? Should it be clipped to `128`? But then what about `"129"^^xsd:byte > 128` or `"129"^^xsd:byte > 129`?

[2017-06-02 10:34] afs commented on #45
`"999"^^<http://www.w3.org/2001/XMLSchema#byte>` is a valid RDF term but not a valid numeric value because "999" is outside the lexical restriction for xsd:byte lexical forms (maxInclusive=127).

The dispatch for the expression `"999"^^xsd:byte > 0` is not defined by SPARQL (see section 17.3) and it's an error because `"999"^^xsd:byte` is not a numeric value.

(And even if it were considered as on

[2017-06-02 10:50] lisp commented on #45
that last is the question. are extensions truly precluded from defining a
result for that term?

Am 02.06.2017 12:34 nachm. schrieb "Andy Seaborne" <notifications@github.com

"999"^^<http://www.w3.org/2001/XMLSchema#byte> is a valid RDF term but not
a valid numeric value because "999" is outside the lexical restriction for
xsd:byte lexical forms (maxInclusive=127).

The dispatch for the expression

[2017-06-04 08:21] afs commented on #45
SPARQL perspective - no, it is not precluded as an extension.  Extension don't even have to
make sense: extending `>` to return a URI rather than a boolean might be
legal but it is somewhat against common sense. Use might well expect that the extensions also cover `"999"^^xsd:byte + 1 > 0` which is extending `+`.

To claim that "999"^^xsd:byte is a valid XSD byte is violating the XSD spec.

A comp

[2017-06-04 08:32] lisp commented on #45
so long as the results for well defined terms are those defined by the respective recommendation, where does "extension" lead to "violation"?
as it would be acceptable to permit

    "999"^^xsd:not-a-byte + 1 > 0

that leaves the exclusion of "999"^^xsd:byte in the realm of "academic" rather than "common sense".

[2017-06-04 09:24] afs commented on #45
Because software is written by reading the `xsd:` details and datatype `xsd:not-a-byte` is not in that spec. The semantic web principle of URI management is to create new URIs in areas of the web namespace you control.

`"CCC"^^my:romanNumeral` is fine.

`xsd:` is a namespace defined by another community. Trampling all over that is not helpful.

Note that `xsd:date` is a common extension to SPARQL

[2017-06-04 11:13] ericprud commented on #45
Not so, my implementation. It responds to date () calls with the literal
"you couldn't afford it".

Tx for fielding ask this. I'm remote and on a phone keyboard. (That's also
why I top-posted here.)

On Jun 4, 2017 11:24 AM, "Andy Seaborne" <notifications@github.com> wrote:

[2017-06-04 11:44] ericprud commented on #45
Oops, didn't notice the reply-to. that was meant for Andy Seaborne...

On Jun 4, 2017 1:13 PM, "Eric Prud'hommeaux" <eric@w3.org> wrote:

[2017-06-08 19:26] leipert opened #46 "SPARQL Tests for REGEX function"
Recently I had a look into the pattern definition of `REGEX` (and also `REPLACE`) to find out what "regex flavor" SPARQL [is using](https://www.w3.org/TR/2013/REC-sparql11-query-20130321/#func-regex). The regex definition of [XQuery 1.0 and XPath 2.0 Functions](https://www.w3.org/TR/xpath-functions/#regex-syntax) and its base [XML Schema Part 2](https://www.w3.org/TR/xmlschema-2/#regexs) are quite

[2017-06-08 20:19] lisp commented on #46
if you would like to see them included, the best way is to implement them.

[2017-06-08 20:53] leipert commented on #46
I know. Unfortunately I do not have the time at the moment, I just wanted to document it here, so that I can come to that back later and have something to start with. Or that someone else can have a crack at them.

Furthermore I have these issues (no critique, just mentioning) that prevent me from starting right away:

1. I do not know how to run the tests (https://www.w3.org/2009/sparql/protocol_

[2017-06-09 09:38] afs commented on #46
ARQ passes both those tests when run in strict mode. `--strict` from the command line; `ARQ.setStrictMode()` in code.

Strict mode switches the regex engine to Apache Xerces.

[2017-06-09 10:14] leipert commented on #46
Thanks for the info :)
However: [`org.apache.xerces.impl.xpath.regex.RegularExpression`](https://xerces.apache.org/xerces2-j/javadocs/xerces2/org/apache/xerces/impl/xpath/regex/RegularExpression.html) seems to implement more flags (e.g. `u`), which should throw a [err:FORX0001](https://www.w3.org/TR/xpath-functions/#ERRFORX0001) and it doesn't implement the character class [`\c`](https://www.w3.or

[2017-06-09 10:47] afs commented on #46
It is `\\` - extra `\` to SPARQL-escape into the string as `\`.

[2017-06-09 10:49] afs commented on #46
`FILTER(REGEX(?s, "hello", "u"))` is false, not error.  If an expression throws an error, the filter is false. I checked with direct evaluation and it does indeed throw a runtime error.

[2017-06-09 10:56] afs commented on #46
`FILTER(REGEX(?s, "^\\c"))` ARQ does ahead of time compilation of static patterns. If switched off (not configurable), you will get "no" because "^\\c" is not a legal regex. `\c` must be followed by a character to indicate the control code.

[2017-06-09 11:26] afs commented on #46
ARQ does not support flag "q".

[2017-06-09 15:05] leipert commented on #46
1. `\\` vs `\`. Yes, I saw it in the [grammar](https://www.w3.org/TR/sparql11-query/#rECHAR). Thanks for clarifying.
2.  `\c` is defined as :

    So the `\c` of XML Schema is definitely not the same as Apache Xerces regular expression.
3. If the example with the `u` flag returns "no", shouldn't the other example also return `no` instead of throwing?

[2017-06-09 15:29] leipert opened #47 "How to run SPARQL Test Suite?"
I really want to contribute new tests for SPARQL REGEX (#46). What is the easiest way to run the suite and produce an implementation report assuming I have an SPARQL endpoint running at `http://localhost:8080`?

I found [kasei/sparql11-protocolvalidator](https://github.com/kasei/sparql11-protocolvalidator), but I am unfamiliar with PERL (and PERL cgi). Could someone give me a hint?

[2017-06-09 15:30] leipert commented on #46
FWIW: I hope you agree, that a more granular regex test suite for SPARQL is needed. The discussion already slips away and turns into an implementation specific one. Instead of arguing about the details of arqs implementation we should argue about test cases.

I am happy to start implementing test cases after July 18th, if someone could provide me guidance on how to run the suite (#47)

[2017-06-09 21:31] gkellogg commented on #47
Everyone has their own mechanism for running the tests. Typically, parsing the appropriate test manifest (such as [this one](http://w3c.github.io/rdf-tests/sparql11/data-r2/regex/manifest.ttl, and iterating through each entry. There are some basic instructions for running tests [here](http://w3c.github.io/rdf-tests/sparql11/). Typically, they involve creating a dataset and parsing and running the

[2017-06-09 21:52] leipert commented on #47
Thank you for the introduction 👍
This probably means I have to come up with my own mechanism. *sigh* Is there any test mechanism for test mechanisms? (just kidding) Or I learn a bit PERL ;)

[2017-06-09 22:29] lisp commented on #47
there was a test harness which was introduced by an effort at inria (https://hal.inria.fr/hal-01104252/document), but i do not know its current status.
the website (http://sparqlscore.com) is not active.
there is a github repository (https://github.com/BorderCloud/TFT)which contains the php code.
we had issues with it at the protocol level, but it may serve your needs.

[2017-06-11 19:13] afs commented on #47
Apache Jena provides a command line `qtest` for running SPARQL-style manifests of tests.

I'm sure other toolkits tat submitted reports provide ways to run the tests.

[2017-07-04 19:30] danbri opened #48 "rdf-capable docker packages - scope for testing automation?"
It seems a good number of RDF-oriented tools are now available via Docker. Has this community given thought to whether this could help with automated testing, and whether there are any additional community conventions that might be documented to make that easier?

My original reason for digging around was to see if this would make an easy way to quickly spin up an RDF-backed site (with sparql etc.

[2017-07-04 19:40] danbri commented on #48
[cross-posted to www-rdf-comments@w3.org](https://lists.w3.org/Archives/Public/public-rdf-comments/2017Jul/0010.html).

[2017-07-04 21:27] gkellogg commented on #48
The RDFa Test Suite at http://rdfa.info/test-suite/ <http://rdfa.info/test-suite/> (broken right now, waiting for some rdflib.js help) took a similar approach to testing, where implementations would expose an endpoint which would take a URI ending with a query argument to identify the source test and be expected to generate a result, typically N-Triples, but could be Turtle, after which the test r

[2017-07-04 21:33] afs commented on #48
[Grpah Store Protocol](https://www.w3.org/TR/sparql11-http-rdf-update/)?

[2017-07-09 21:49] danbri commented on #48
@afs looks in right ballpark, for database and query functionality. For basic parsing would need something extra? And for shacl or shex?

[2017-11-21 11:18] BorderCloud commented on #47
@lisp Sparqlscore is always active but my time is limited.
You can find a example here :
https://github.com/BorderCloud/tft-jena-fuseki
https://github.com/BorderCloud/tft-virtuoso7-stable

I will write the doc this week but you can see my script.
I start to write a dynamic report SPARQL (with students).

[2017-11-21 11:25] BorderCloud commented on #48
I tested. It's possible to test via docker in Travis CI.
You can find examples here :
https://github.com/BorderCloud/tft-jena-fuseki
https://github.com/BorderCloud/tft-virtuoso7-stable

[2018-02-23 10:42] Toni100 opened #49 "typo in entailment manifest.ttl for test :parent5"
The file [manifest.ttl](https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/entailment/manifest.ttl) of the entailment test suite contains the following typo for test [:parent5](https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/entailment/manifest.ttl#L328):
The line `sd:EntailmentProfile pr:DL ;` appears twice.

[2018-03-15 09:26] ericprud commented on #47
in [SWObjects](https://github.com/ericprud/SWObjects), you can `make test` to run the normal tests and `TEST_ARGS=--earl make test` to emit EARL, c.f. [test_SPARQL1.1](https://github.com/ericprud/SWObjects/blob/sparql11/tests/test_SPARQL11.cpp#L50)

[2018-08-06 10:33] BorderCloud opened #50 "Error 404 for the test-update schema"
Hi

Test-update schema's link is dead :
http://www.w3.org/2009/sparql/tests/test-update#  (prefix ut)

Bye
Karima

[2018-08-06 14:29] gkellogg commented on #50
A copy of the vocabulary is at [1], there may be an Apache configuration missing, perhaps one of the former SPARQL WG team members can fix.

Gregg Kellogg

[1] https://www.w3.org/2009/sparql/docs/tests/test-update.n3

Sent from my iPad

[2018-08-06 15:43] BorderCloud commented on #50
Thanks.
May be, it's the moment to do a backup of all these schemas in this project.

[2018-08-06 15:43] #50 closed

[2018-08-06 18:20] gkellogg commented on #50
Good idea, a PR would be welcome, but if you haven’t already, you might consider joining the CG.

[2018-08-06 18:46] BorderCloud commented on #50
Before a PR, we need  to rewrite the definitions of prefixes in a final draft of test cases and we can after change easily all these prefixes in all the files.

For the moment this 404, it's not a problem to execute the tests.

[2018-08-06 19:00] gkellogg commented on #50
The definitions of prefixes have been stable for years, and at this point it’s inpractical to change them. The repository exists to preserve the sources and provide some means to fix or add new tests. It would be great if they were synchronized back to w3 space, but it’s been hard to get staff resources to make it happen.

[2018-08-10 16:28] BorderCloud opened #51 "Implementation of SPARQL protocol tests : questions"
I started to implement with Jmeter the SPARQL protocol tests.
https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/protocol/manifest.ttl

I will add a property action in the ttl with the jmx file of Jmeter.

In input of each test, 3 variables (for the moment):
- hostname
- port
- root path before "sparql/update/..." (ie. without sparql or query or other at the end)

Command line w

[2018-08-11 22:28] BorderCloud commented on #51
May be, it's necessary to do a difference between the features of different databases and the minimum vital for SPARQL.

In my humble opinion, the minimum vital is one endpoint for query and, in same time, update with the word  "sparql" at the end.
POST or GET http://example.org/XXXX/sparql?query= or http://example.org/XXXX/sparql?update=
(personally, I don't understand why several databases inser

[2018-08-11 23:37] afs commented on #51
We don't need to get into making choices: what does the protocol spec say about naming?

(sd:endpoint - there can be multiple declarations for one service)

[2018-08-12 09:11] BorderCloud commented on #51
How an agent can choose the good endpoint if there are multiple endpoint (with any name)  ? It has to test each endpoint before to read or write ?

The spec is one thing... but the different implementations of different SPARQL services prove the specification is not enough clear or too wide to implement the same  SPARQL client for everybody. How implement the federated queries in a database if the

[2018-08-12 10:15] lisp commented on #51
your comments have described the minimum core which covers the recommendations, yet you observe,

for one approach, see: https://doc.yasgui.org/doc/

the issue with federation is not clear:

please expand on it. the remark on deficiencies as to sparql results appears to concern goals for you test framework which relate to errors:

what are those goals?
do you intend to accomplish them within the l

[2018-08-12 11:07] BorderCloud commented on #51
Yasgui and me use one endpoint for reading  (with sparql at the end or not) but it is too often not enough.
Look the interface of Yasgui to describe one endpoint only for reading, I do it also. There are too many options for a beginner :
![screenshot_20180812_123505](https://user-images.githubusercontent.com/352813/44001121-295baeb8-9e2c-11e8-8dcb-5d56884580c7.png)

In the spec : The query operati

[2018-08-12 12:09] lisp commented on #51
re.

the reference was to the documentation, wherein the "client configuration documentation" is pertinent. that is, there can be many and the client must include provisions to disambiguate.

re:

if the client presumes the incorrect method, it will fail.
on the other hand, http does support a degree of introspection through the OPTION method and/or the interpretation of a '501, whereby, if the en

[2018-08-12 17:38] afs commented on #51
Yasgui shows it is possible to implement a client for any endpoint.

It needs the URL (hostname, port, path etc) to "/sparql" at the server anyway so I don't see this as any different. The UI allows for yagui to be pointed at an endpoint.

The usual way is to serve Yasgui from the server (see Apache Jena Fuseki) and then defaults for the fields are filled in. It is one of the feature of Yasgui.

I

[2018-08-12 17:50] BorderCloud commented on #51
I finished to integrate JMeter in [TFT](https://github.com/BorderCloud/TFT). You can see the first result in this [draft of automatic report for SPARQL 1.1](http://tft-reports.bordercloud.com/) and reproduce it.

This document and the workflow of TFT are experimental to visualize the actual interoperability between several editors of SPARQL services. It uses a new method to execute the SPARQL test

[2018-08-12 19:11] afs commented on #51
The report still contains many mistakes that have been there for several years. It does not reflect previous feedback provided with corrections.

[2018-08-13 08:56] BorderCloud commented on #51
@afs an example ? I use now the last version of w3c/rdf-tests project (because there are a lot new tests). If it's bug in TFT can you open an issue in TFT project ?  If it's a mistake in this project, you can open also an issue in this current project.

Concerning the protocol, to have the same API for all solutions, I have an idea: Varnish can realign the different APIs.
POST or GET http://exampl

[2018-08-15 12:15] afs commented on #51
One example: xsd:string is not required in RDF 1.1, but there are test failures marked when it is missing but also the other way round as well.

Be careful: There is no requirement that ?query is the first query string argument.

GET+update is outside the spec (it is very bad HTTP practice to send changes via GET).

[2018-08-15 13:05] BorderCloud commented on #51
A link ?
if a test must support all the possibilities "not required", it may be necessary to replace the examples of results with XML schemas for XML.

In the examples and tests (and the majorities of implementation), query  is a mandatory parameter. A developper can switch easily between GET and POST. It's more simple to develop a SPARQL client with the same parameters for GET and POST.
If it's n

[2018-08-18 21:35] BorderCloud commented on #51
I tested Varnish. I cannot change the body of HTTP message but I can see the parameters in the body and to do a redirection if necessary.

So I implemented only 3 tests (with a new status in the manifest, dawgt:ApprovedMustToHave) and now if a database doesn't support this minimum, I can realign quickly their APIs with Varnish:
[code]
With this method, you can pass all tests of SPARQL 1.1 to a dat

[2018-12-04 19:35] #49 closed

[2018-12-05 07:33] rubensworks commented on #47
For reference, here's a tool for executing SPARQL-style test manifests for JavaScript implementations: https://www.npmjs.com/package/rdf-test-suite

[2019-02-18 15:10] dinikolop opened #54 "subquery13"
Looking at the manifest file of subquery tests for sparql 1.1 and more specifically at subquery 13:
https://github.com/w3c/rdf-tests/blob/b3136e909c6f1bfa550290bfb6cc41a29f2dc40d/sparql11/data-sparql11/subquery/manifest.ttl#L152-L160

noticed that it points to query, data and result set files of subquery 11:

[code]
Is this a mistake?
Thanks!

[2019-02-20 13:19] wouterbeek opened #55 "How to run the constructwhere04 test?"
Test `constructwhere04` has the following query:

[code]

^ This instructs the SPARQL engine to look for a file or graph called `data.ttl`, but since this is a relative URI the engine cannot find the file.

Since it is not possible to set a specific base URI when running a SPARQL query, and since modifying the SPARQL query to include a `BASE` clause seems dirty/unintended, what would be the approp

[2019-02-20 17:00] afs commented on #55
data.ttl should be in the same directory as the query. Reading the test query will have the query as the base URI, so `<data.ttl>` is resolved against that - same directory.

[2019-02-20 20:30] wouterbeek commented on #55
@afs I don't understand the following part:

The data graphs are loaded into a SPARQL endpoint.  Once loaded into the SPARQL endpoint, the directory structure from which the data was uploaded is no longer available.  This is not a problem for data since a base URI can be specified when uploading (and that makes all relative IRIs absolute).

Unfortunately, the same does not apply to queries:

Accor

[2019-02-20 21:09] gkellogg commented on #55
"Directory" is a little misleading. Relative URLs are resolved according to [RFC3986](https://tools.ietf.org/html/rfc3986). The query lives at a URL http://w3c.github.io/rdf-tests/sparql11/data-sparql11/construct/constructwhere04.rq. The `data.ttl` relative URL is resolved using that location to come up with http://w3c.github.io/rdf-tests/sparql11/data-sparql11/construct/data.ttl. See [Reference R

[2019-02-20 21:12] gkellogg commented on #54
Yes, I've noticed a couple of places where the actual query and data used for a test entry aren't right; however, these are the tests run by implementations claiming conformance.

This group, can of course, decide to update the test to reference sq13, if there is concurrence. Best done through a PR.

[2019-02-20 21:18] afs commented on #54
I think we should fix this - we are adding tests anyway so the repo is not an exact reflection of the original implementation reports. It is a balance; in this case I don't think this is a controversial area of conformance (risky to say that!). If in doubt add tests, but here it looks like a simple mistake.

@gkellogg - any others you know of?

[2019-02-20 21:21] afs commented on #55
The test suite is (implicitly) being executed locally - not via the SPARQL protocol. Reading the query, from file or URL, will cause the base URI to be set per RFC3986 and then `<data.ttl>` resolves to a URL.

If you want to execute the test suite in other set ups, your example being sending the query over the SPARQL protocol to a remote query processor, then some adaptation will be needed.

[2019-02-20 22:45] wouterbeek commented on #55
Thanks for looking into this, I think this issue has been sufficiently answered / can be closed.

[2019-02-20 22:45] #55 closed

[2019-04-02 20:05] afs commented on #54
Let's close this and open new issues for new problems.

[2019-04-02 20:05] #54 closed

[2019-05-16 08:36] wschella opened #58 "How to format decimals?"
In regards to the formatting of decimals, how should spec-compliant engines handle trailing zero's in decimals? I find that the expected results in this test suite are inconsistent, i.e. sometimes they expect a trailing zero, sometimes they do not.

Some examples that have **no** trailing zero:
 - <www.w3.org/2009/sparql/docs/tests/data-sparql11/functions/manifest#seconds>
 - <www.w3.org/2009/spar

[2019-05-16 08:59] rubensworks commented on #58
Following the [RDF spec](https://www.w3.org/TR/rdf11-concepts/#section-Graph-Literal), literals should definitely be strictly equal:

I think we could go two ways:

1. It should be defined somewhere (probably SPARQL 1.2) that functions should produce literals in canonical form.
2. Mention in the test suite that literals in results should be compared by first converting to their canonical form, and

[2019-05-16 18:25] gkellogg commented on #58
According to the [SPARQL 1.1 Grammar](https://www.w3.org/TR/sparql11-query/#QSynLiterals) trailing digits in number representations are preserved, and so 1.0 and 1.00 would be considered different terms. IIRC, if the tests represent literals differently, it is intentional.

[2019-05-17 06:29] rubensworks commented on #58
Indeed, if terms originate from the underlying data source, then the terms must be returned as-is. However, this issue is about the response of _functions_, for which there seems to be no guideline on how decimals should be formatted.

It is indeed possible that this was intentional, but it is unclear to me what the reason for this was.

For example in the spec tests, `SECONDS("2010-06-21T11:28:01

[2019-05-17 06:39] rubensworks commented on #58
Pinging @cygri to confirm that this indeed something underspecified in SPARQL 1.1, and whether or not this should be added to the [errata](https://github.com/w3c/sparql-12/issues/68).

[2019-05-17 09:21] afs commented on #58
Functions return values so the way to compare is by value, not by term. (2 is one way to do that but the principle to state is that it is value-equality).

XSD changed the canonical form of decimals between 1.0 to 1.1 to require the decimal point. It was "1"^^xsd:decimal, and became "1.0"^^xsd:decimal.

The SECONDS case is different because of context of use. There is a reasonable expectation that

[2019-05-18 11:33] cygri commented on #58
If the SPARQL spec doesn’t say that a particular lexical form is generated, then any lexical form that has the correct value should be considered correct.

So, as Andy said, the test suite documentation should state that literals are compared by value. Canonicalising actual and expected value before comparing them in the test runner is one way to achieve comparison by value.

(For `strDT`, the lan

[2020-03-11 14:37] tonicebrian opened #60 "File delete-insert-07b.ru is tagged as bad but looks good to me"
In https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/delete-insert/manifest.ttl#L161-L167 the test is marked as NegativeSyntax. I've implemented a grammar that correctly parses it and thus fails my tests expecting an exception.

So my questions is, is it correctly flagged as Negative ? And if so, where is the problem of that query and where the grammar should fail to parse?

[2020-03-11 15:24] afs commented on #60
It's an error because it violates one of the additional rules. There are a number of cases where things are illegal even if the grammar rules don't preclude them. Here, blank nodes in the DELETE clause (which are meaningless - they can't be in the data and they are not unnamed variables).

https://www.w3.org/TR/sparql11-query/#grammarBNodes

Writing a grammar that had a different set of rules for

[2020-03-12 09:07] tonicebrian commented on #60
Thanks for the response. I wasn't aware of that note of the grammar. I've solved the issue by adding a semantic action that whenever I enter a block of one of those DELETEs blanks fail to parse.

But then and as a matter of completeness, I think you could do something on your side to make it clear, becase either:

- The grammar as published in https://www.w3.org/TR/sparql11-query/#sparqlGrammar is

[2020-03-12 14:48] afs commented on #60
@tonicebrian
Thanks - feedback noted.

[2020-03-12 14:48] #60 closed

[2020-03-16 09:43] ericprud commented on #60
@tonicebrian , as you noted, you fixed it with a semantic action. I think it's sensible to mark the test as a `NegativeSyntaxTest11` so you don't have to [add another type](https://github.com/w3c/rdf-tests/tree/gh-pages/sparql11#manifest-structure).

In ShEx, we wrap all grammar rules (BNF or English) into [negativeSyntax](https://github.com/shexSpec/shexTest/tree/master/negativeSyntax) and reserv

[2020-10-16 22:52] kasei opened #63 "SPARQL test suite missing coverage of unicode data outside BMP"
I noticed that the existing SPARQL test suite doesn't seem to test any of the string functions against data with characters outside of the Unicode Basic Multilingual Plane. I have a PR to add some tests to improve coverage in this area.

[2020-10-16 22:57] kasei opened #64 "SPARQL test suite missing coverage of codepoint escapes"
AFAICT, the SPARQL test suite does not have any coverage of the 4-byte variant of codepoint escape sequences (`\UXXXXXXXX`). This could be a problem for implementations that defer escape handling to tools that only support the 2-byte variant (such as, I believe, the javacc parser generator).

[2020-10-19 01:44] kasei opened #66 "SPARQL test suite missing coverage of XPath Constructor Functions"
It looks like the [original DAWG tests](https://github.com/w3c/rdf-tests/tree/gh-pages/sparql11/data-r2/cast) only covered testing that the values resulting from a cast had the correct datatype, not the expected value. So, for example, an implementation could say `xsd:boolean("0")` evaluated to `true` and still pass the test suite.

I'm working on a PR to add some tests to improve coverage in this

[2020-10-19 03:50] kasei commented on #66
@afs – This is partly motivated by finding that Jena seems to disallow casting numerics others than `xsd:integer` to `xsd:boolean`. I *think* that [F&0 2.0 §17.1.6](https://www.w3.org/TR/2007/REC-xpath-functions-20070123/#casting-boolean) is the normative reference here:

If you agree, can you confirm that I've understood Jena's implementation of the boolean casting correctly?

[2020-10-19 06:01] ericprud commented on #64
While you're at it, how about bare codepoints themselves? Got any like https://github.com/shexSpec/shexTest/blob/master/schemas/1val1STRING_LITERAL1_with_UTF8_boundaries.shex ?

[2020-10-19 14:41] kasei commented on #64
There are i18n tests in the original DAWG suite, but they similarly stay below U+FFFF.

[2020-10-19 19:16] #63 closed

[2020-10-19 19:50] afs commented on #66
I agree that Jena's implementation is not casting numerics correctly.

BTW - generally - can refer to F&O latest even if the spec if technically F&O 2.x because the desire in the SPARQL 1.2 issues is to update.

https://www.w3.org/TR/xpath-functions/#casting-boolean

[2020-10-19 19:52] kasei commented on #66
@afs – Yeah, I had been relying on 3.1, but wanted to link to 2.0 just in case there were any differences that might explain the behavior. They seem the same to me, but I haven't read them closely to spot any divergence.

[2020-11-20 23:16] ericprud commented on #64
The strategy I took in ShEx (and some in Turtle before) was to test the boundaries of permissible characters and, iirc, the boundaries of UTF-8 representations. For instance, the above ShEx has the characters 0x80, 0x7FF, 0x800, 0xFFF, 0x1000, 0xCFFF, 0xD000, 0xD7FF, 0xE000, 0xFFFD, 0x10000, 0x3FFFD, 0x40000, 0xFFFFD, 0x100000, 0x10FFFD. The 0xD800-0xDFFF range is prohibited because it's used to e

[2020-11-21 04:54] kasei commented on #64
@ericprud I've never been clear on whether a partial surrogate pair codepoint was actually prohibited, or just nonsensical. The SPARQL grammar and spec text don't seem to give any guidance on this.

Testing boundaries would definitely be a good idea, though I'm not sure if all languages/environments are happy working with unassigned code points. Would be interested in hearing any experience people

[2020-11-21 06:18] lisp commented on #64
see: http://unicode.org/faq/utf_bom.html#utf16-7

[2020-11-21 15:17] kasei commented on #64
Thanks, @lisp. I think I've read right past that in the past because it is strangely under the "UTF-16 FAQ" section, and written in a way that seems (in my reading) to confuse 16 bit code units and a broad applicability to all "UTFs". Re-reading the UTF-8 section, this one seems relevant:

https://unicode.org/faq/utf_bom.html#utf8-5

[2020-11-22 00:31] kasei commented on #64
@ericprud [4a12627](https://github.com/w3c/rdf-tests/pull/67/commits/4a1262762baadf6a3cd36889aaf62c0707fa89ec) is a commit as part of #67 that adds syntax tests for unicode boundaries and the invalid use of a lone surrogate pair codepoint. What do you think?

[2020-11-25 16:18] ericprud commented on #64
@kasei , i approved them, which might come off as arrogant but was intended as a procedural +1

[2020-11-25 17:28] kasei opened #70 "SPARQL test suite missing coverage of `RAND`"
The current SPARQL test suite has a [single test for the `RAND` function](https://github.com/w3c/rdf-tests/blob/gh-pages/sparql11/data-sparql11/functions/rand01.rq):

[code]

I seem to recall that the testing was limited because it's hard to test randomness in the manifest-based approach of this test suite (and due to WG time pressure). However, I recently [ran across](https://twitter.com/kasei/st

[2020-11-25 18:04] lisp commented on #70
does a  count distinct not suffice
[code]

https://dydra.com/james/test/@query#rand-must-be-distinct

[2020-11-25 18:08] kasei commented on #70
That would work *almost always*. But if you had a poor PRNG, it might stochastically fail if two consecutive `RAND` calls returned the same value. I think I recall WG discussions about not wanting to make assumptions about the quality of the PRNG, but I don't know if that's a reasonable thing to worry about. For whatever small chance you might come across such a situation, you could reduce it furt

[2020-11-25 18:08] lisp commented on #70
does in not suffice just to test?
[code]

https://dydra.com/james/test/@query#rand-in-solution-must-be-distinct

[2020-11-26 00:03] kasei commented on #66
As #68 was merged, I'm going to close this.

[2020-11-26 00:03] #66 closed

[2020-11-27 12:43] afs commented on #70
Two calls to RAND can return the same value by chance (normally, a very small chance!)

[2020-11-27 12:53] lisp commented on #70
does why it happens matter?

[2020-11-27 13:08] afs commented on #70
Yes - the tests test the results `?notequal` will be different and the test fail.
In fact exposing `?x` `?y` makes it untestable in the framework we have.

[2020-11-27 13:11] afs commented on #70
I don't see how we can test for "bad implementation" and provide utility.

If we have tests that "sometimes fail", the whole tests suite is called into question.

It would be better to document expected behaviours (e.g. not eval by call sites) in the spec or some other documenation.

[2020-11-27 15:05] lisp commented on #70
i do not follow this logic.
either it matters, or it doesn't.
if it matters, then test it.
if it does not matter, do not mention it.

[2020-11-27 15:31] kasei commented on #70
It is both important and may be impossible to test correctly every time given the current testing framework. I think making this perfectly testable would likely require either large changes to the testing framework or enormously burdensome requirements on the PRNG used by implementations.

@afs agreed. Maybe this should be either a 1.1 errata or a sparql-1.2 issue about improving the spec text.

[2020-11-27 15:59] lisp commented on #70
or, by its nature.
is this a situation where it is the test's responsibility to prove something about the test subject or the test subject's responsibility to prove something about itself?

[2020-12-08 19:52] #64 closed

[2021-03-16 10:19] rubensworks opened #72 "Possible contradiction between USING semantics in spec and tests"
This issue is regarding a (possible) contradiction in the semantics of `USING` between the spec and the test suite in update queries:

* http://www.w3.org/2009/sparql/docs/tests/data-sparql11/delete/manifest#dawg-delete-using-02a
* http://www.w3.org/2009/sparql/docs/tests/data-sparql11/delete/manifest#dawg-delete-using-06a

These tests check that "modifying the desired graph making sure the GRAPH

[2021-03-16 12:09] afs commented on #72
This is complicated - this is how I see the specs in detail to see if we read them the same way.

If FROM/FROM NAMED is used, then that describes a dataset. So in:

[code]
and the dataset for the query matching contains a default graph with the contents of `ex:g1` and no named graphs. `ex:g1` is taken from somewhere - it can be some persistent dataset (a common feature of implementations).

If tha

[2021-03-16 12:27] rubensworks commented on #72
Thanks for the clarification @afs!

From your explanation, it became clear to me that I misunderstood FROM/FROM NAMED.
I previously thought that when using FROM without a FROM NAMED, still enables querying over other named graphs using GRAPH.
But from your comment, it became clear to me that when using FROM without FROM NAMED, the query dataset becomes a view that _only_ includes the (target) defa

[2021-03-16 12:27] #72 closed

[2021-05-13 10:21] BorderCloud opened #73 "Replace in the manifest.tll sd:EntailmentProfile by sd:supportedEntailmentProfile"
Probably an error in this [manifest](https://github.com/w3c/rdf-tests/blob/main/sparql11/data-sparql11/entailment/manifest.ttl), a class is used like a property.

Probable fix : replace in the manifest.tll the class [sd:EntailmentProfile](https://www.w3.org/TR/sparql11-service-description/#sd-EntailmentProfile) by the property [sd:supportedEntailmentProfile](https://www.w3.org/TR/sparql11-service-

[2021-09-23 08:15] ericprud commented on #58
But that leaves STR() of that value (needlessly?) underspecified. Also, those STRs might be used to construct important things like identifiers.

I think we'd like predictable behavior for at least integers. I.e. we'd like `IRI(CONCAT("http://a.example/id=", STR(1123-1000)))` to return `<http://a.example/id=123>` and not `<http://a.example/id=0123>` or `<http://a.example/id=+123>`.

Decimals are u

[2022-04-03 18:31] gkellogg opened #78 "SPARQL Protocol query_multiple_dataset"
It seems to me that this test as a small problem. The query uses a FROM directive, which is overridden using `default-graph-uri`, but that loads data2.rdf. Either the query should be to `<data2.rdf>` (or presumably it's absolute URL form), or it should expect `false` instead of `true`. Or is do I have some misunderstanding on what the success criteria are for these tests?

https://github.com/w3c/r

[2022-04-03 20:06] kasei commented on #78
@gkellogg – It looks to me like you had pulled the details of these tests from the HTML file in my [sparql11-protocolvalidator repository](https://github.com/kasei/sparql11-protocolvalidator) into the manifest and HTML files in this repository. Is that right?

I think this particular issue stems from the original HTML description in my repo not matching the ]actual implemented test case](https://g

[2022-04-04 22:23] gkellogg commented on #78
They're from the manifest.ttl I cited above. It did look like I pulled that in in ea232ca6d09a25bae2e3715d6595c09a82604ace and 6fc9e81ec0e2edf98a96d9e4e7bd32bb887a96ee from https://github.com/kasei/sparql11-protocolvalidator/commit/1ce0201fcd00ea4eb82464b7fe9e1467cf062a2f. back in 2016. It looks like at least that portion of the protocol validator README remains unchanged, but the corresponding CG

[2022-04-04 22:59] kasei commented on #78
That's my expectation, although both the code and the mistaken README content predate the WG approval in November 2012. My recollection is that the code was driving the conversation since several implementors in the WG (myself included) were all running it to converge on approval.

[2022-04-25 21:10] gkellogg commented on #78
@kasei please have a look at #79, which is an extensive rewrite of the protocol manifest based on your CGI script.

[2022-06-05 19:34] aucampia opened #80 "Commented out tests in the rdf-xml test suite"
There are some tests in the RDF/XML test suite that are commented out:

- https://github.com/w3c/rdf-tests/blob/d2cc355bf601d8574116f3ee76ca570925f35ac3/rdf-xml/manifest.ttl#L54
- https://github.com/w3c/rdf-tests/blob/d2cc355bf601d8574116f3ee76ca570925f35ac3/rdf-xml/manifest.ttl#L57
- https://github.com/w3c/rdf-tests/blob/d2cc355bf601d8574116f3ee76ca570925f35ac3/rdf-xml/manifest.ttl#L63
- https://

[2022-06-05 19:58] aucampia commented on #80
The tests seem to pass without problem, and at least some of the coverage that was lost comes back. I don't see any reports for these tests at <https://w3c.github.io/rdf-tests/rdf-xml/reports/> but I do see some reports in the older reports <https://www.w3.org/2003/11/results/rdf-core-tests>.

[2022-06-06 07:52] afs commented on #80
Looking at "git blame" in the github UI, the tests arrived at rdf-test CG like that.

And were published like that: https://www.w3.org/2013/RDFXMLTests/ shows last change "2014-12-15 10:56".

They might have something else in common but they are all `parseType="Literal"` and that is [non-normative at RDF 1.1](https://www.w3.org/TR/rdf-syntax-grammar/#section-Syntax-XML-literals) as noted in Append

[2022-06-06 08:10] aucampia commented on #80
Thanks, I was not aware that it was non normative, and that explains why they are commented out, closing this issue.

[2022-06-06 08:10] #80 closed

[2022-06-07 16:52] gkellogg commented on #80
XMLLiterals in both RDF/XML and RDFa+XHTML have quite complicated processing models due to the need to create the [Exclusive Canonical](https://www.w3.org/TR/xml-exc-c14n/) representation, which is likely why it wasn't standardized for 1.1.

Interestingly, JSON-LD introduced [rdf:JSON](https://www.w3.org/TR/json-ld11/#the-rdf-json-datatype) which serves a similar purpose to `rdf:XMLLiteral` provid

[2022-09-05 12:06] vil1 opened #81 "Shouldn't the untyped literals representing number in exponential notation like "0E1", "1E0" or "-10.2E3""
In [section 19.2](https://www.w3.org/TR/xpath-functions/#casting-from-strings) of the XPath and XQuery Functions and Operators 3.1  specification, we read:

The literal `"-10.2E3"` doesn't seem to fall in any of the cases stated above, as it can be accurately represented as decimal with `-10200.0`.

However, [sparql11/data-sparql11/cast/cast-decimal.srx](https://github.com/w3c/rdf-tests/blob/d2cc3

[2022-09-05 12:19] #81 closed

[2022-09-05 12:20] vil1 commented on #81
I simply misread the [spec for lexical representation of decimals (section 3.2.3.1)](https://www.w3.org/TR/xmlschema-2/#built-in-primitive-datatypes).

[2022-11-20 10:03] afs opened #84 "Reorganise the SPARQL tests area."
This came out of PR #83.

For the SPARQL rdf-tests, I think we should aim to make most visible a conservative "latest agreed" test suite.

We can keep reference copies of the originals, but the easy-to-find tests are current.

A reorganisation is friction but now seems like a good time to prepare because in preparation for the [WG RDF-star](https://www.w3.org/groups/wg/rdf-star) which is also char

[2022-11-21 07:54] rubensworks commented on #84
In general, I agree with the proposed changes.
However, I would be in favor of making these changes backwards-compatible, as there may be quite a bit of projects that depend on this organization, and would break due to these changes.

I think we can go forward with these changes and remain backwards-compatible by adding a softlink from `sparql11/` to `archive/data-sparql11/` or `tests-sparql-2/ `,

[2022-11-21 15:10] afs commented on #84
Hi @rubensworks -- thanks for the comments. Yes, there some disruption for existing projects in order to help newcomers. Running a top level manifest should mean that is limited as would linking `sparql11/` -- or keeping a "sparql11 layout compatibility area".

It was while changing syntax-esc-05 in place that it occurred to me I was proposing changing the copy of the SPARQL 1.0 test suite and it

[2022-11-21 21:42] gkellogg commented on #84
@afs said:

So, this is a version control system, and previous states of the tests can always be described on a persistent branch. Particularly for systems still using RDF 1.0 semantics, I'm not sure how much we should pander to their needs, as it becomes an ongoing maintenance burden.

Does this imply an eventual tests-sparql-3 directory for SPARQL 1.2? As all tests are currently under `/sparql11

[2022-11-22 08:00] rubensworks commented on #84
I definitely agree with the intended re-organization, but we have to be thoughtful of systems depending on the current layout for their testing architecture, and that these systems _will break_ if we make sudden non-backwards-compatible changes.
That is why I think it's really important to have this backwards-compatibility, even if it's just temporary, to allow external systems to transition to th